@{
    ViewData["Title"] = "À Propos";
}
<h1>@ViewData["Title"]</h1>

<p>Depuis 1987, la famille Cyr est réputée pour offrir un service
    personnalisé et de qualité. Celle-ci se fait un devoir de vous
    conseiller adéquatement pour vos besoins en matière d’équipement
    sportif pour vous et votre famille. Venez nous rencontrer et soyez 
    assuré que vous serez traité avec soin par un de nos dévoués employés.</p>
