@{
    ViewData["Title"] = "Donnez votre avis!";
}
<header>
    <div>
        <img class="img-fluid" alt="Responsive image" src="images/facebook_cover_photo_1.png" />
    </div>
</header>

<body>
    <div class="container">
        <div class="row">
            <div class="card">
                <img src="~/images/hockey.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nos équipements de hockey.</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/baseball.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nos équipements de baseball.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="~/images/soccer.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nos équipements de soccer.</p>
                </div>
            </div>
            <div class="card">
                <img src="~/images/velo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nos équipements de vélo.</p>
                </div>
            </div>
        </div>
    </div>
</body>