@{
    ViewData["Title"] = "Merci pour votre avis!";
}

<body>
    <div class="container">
        <div class="row text-center my-5 py-5" style="height: 75%">
            <div class="my-auto">
                <h1><i class="far fa-check-circle fa-3x text-success"></i></h1>
                <h1>Merci!</h1>
                <h4>Nous avons bien reçu votre sondage.</h4>
            </div>
        </div>
    </div>
</body>